*,::after,::before{
    box-sizing: border-box;
}
@font-face {
    font-family: Fraunces;
    src: url(https://fonts.google.com/specimen/Fraunces/tester?query=frau);
    font-weight: 500;
    
}
body{
    background-color:hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    }


.container{
    display: flex;
    width: 35vw;
    background-color: white;
    border-radius: 15px;
    max-width: 35vw;
    min-width: 25vw;
    
}
.left{
    width:50%

}

.right{
    padding-left: 30px;
    width: 50%;
    display: flex;
    flex-flow: column;
    padding-right: 10px;
    justify-content: center;
}

.left img{
    width: 100%;
    height: 100%;
    border-radius:15px 0 0 15px;
}

.price{
    color: hsl(158, 36%, 37%);
    font-family:'Fraunces', serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: -10px;
}

#strike{

    align-self: center;
    color:black;
    font-weight: normal;
    font-size: 0.4em;
    padding-left: 10px;
}

.name{
    font-family:'Fraunces', serif;
    color: #000;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0px;
}

.right .description{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    font-size: 0.7rem;
    color:grey;
    opacity: 90%; 
    margin: -5px 0 30px 0;
    line-height: 1.6;
}

.title{
    font-size:0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:grey;
    opacity: 80%;
    margin-top:0px;
    margin-bottom: 10px;

}

button{
    background-color:hsl(158, 36%, 37%);
    color:#ffffff;
    border:0;
    border-radius: 10px;
    margin-top:20px;
    width: 160px;
    height: 40px;
}

button:hover{
    background-color: hsla(159, 72%, 11%, 0.99);
}