@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');



:root {
    --Soft_blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very_dark_blue: hsl(217, 54%, 11%);
    --darker_blue: hsl(216, 50%, 16%);
    --dark_blue_for_line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

*,
::after::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark_blue_for_line);
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;

}



.container {
    background-color: hsl(216, 64%, 10%);
    border-radius: 13px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: auto;




}

.card {
    display: grid;
    grid-template-rows: 1.5fr .7fr 0.05fr;
    width: 85%;
    background-color: var(--darker_blue);
    border-radius: 13px;
    margin: 2rem auto;

}


h1 {
    margin-inline: 2.3rem;
    color: white;
}

h1:hover {
    color: var(--Cyan);
}

.text:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 0.5rem;
    border-bottom: 1px solid var(--Soft_blue);
    /* This creates the border.  */
}

p {
    padding-inline: 2.3rem;
    font-size: 1.4rem;
    color: hsl(215, 51%, 70%);

}

svg {
    vertical-align: center;
    margin-right: .4rem;
}

img {
    width: 90%;
    margin-top: 2rem;
    margin-inline: auto;
    border-radius: 10px;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card svg {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.card:nth-child(1){
    opacity: 1s;
}

img:hover {
    opacity: 0.3;
    background-color: var(--Cyan);
    background-blend-mode: lighten;
}

#price {
    display: inline-block;
    margin-left: 0.1rem;
    color: var(--Cyan);
}

#time {
    display: inline-block;
    float: right;

}

#name {
    color: white;
}

#name:hover {
    color: var(--Cyan);
}

.created {
    display: flex;
    align-items: center;
    margin-left: 2.3rem;
    margin-top: -1rem;
}


.created p {
    margin-left: -5rem
}


.created img {
    width: 55%;
    border: 1px white solid;
    border-radius: 50%;
    margin-left: 0rem;
    margin-bottom: 0.5rem;

}