@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {
    color: var(--White);
}

p {
    color: var(--Light-Grey);
    font-size: inherit;
}


.card {
    background-color: --var(--Dark-Blue);
    max-width: 370px;
    padding: 30px;
    border: 1px solid red;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.star img {
    background-color: var(--Dark-Blue);
    border-radius: 50%;
    padding: 10px 10px;
}

.text {
    display: grid;
    gap: 5px;
}

button {
    cursor: pointer;
}

.ratings {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.ratings>* {
    border: none;
    background-color: var(--Dark-Blue);
    color: var(--White);
    border-radius: 50%;
    padding: 15px 20px;

}

.ratings>*:hover {
    background-color: var(--Medium-Grey);
}

.ratings>*.selected {
    background-color: var(--orange);
}


#submit:hover {
    background-color: var(--White);
    color: var(--orange);

}

#submit {
    background-color: var(--orange);
    color: var(--White);
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.cardtwo {
    display: none;
}

.cardtwo .card {
    display: flex;
    align-items: center;
}


.stars {
    color: var(--orange);
    border-radius: 14px;
    padding: 5px 10px;

}

#t {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.center-align {
    text-align: center;
}

@media screen and (max-width:600px) {
    .card{
        margin-inline: 15px;
    }
    
}